// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #FAFAFA;
$value-color:       #005D8C;
$title-color:       #363636;
// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;
  h1 {
    color: $title-color;
  }

  h2 {
    color: $value-color;
  }

}


