// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #FAFAFA;
$value-color:       #005D8C;

$title-color:       #363636;
$moreinfo-color:    lighten($title-color, 15%);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {

  background-color: $background-color;
  vertical-align: top;
  
h1 { 
  margin: 0;
   padding: 0;
  margin-bottom: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

  .value {
    color: $value-color;
    font-size: 40px;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
  }

.more-info {
  float: left;
}

}
