// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #FAFAFA;
$value-color:       #005D8C;
$title-color:       #363636;


// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-dashboard-header {

  background-color: $background-color;
  vertical-align: top;

  .title {
    float: center;
    color: $title-color;
    font-weight: 600;
    font-size: xx-large;
  }


  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

}