<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="12" data-sizey="1">
      <div data-id="clock" data-view="DashboardHeader" data-title="arvato Systems Dashboard" ></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="12" data-sizey="1">
      <div data-id="index" data-view="Index" data-title="Application Links" ></div>
    </li>
  </ul>
</div>