</script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="12" data-sizey="1">
      <div data-id="clock" data-view="DashboardHeader" data-title="Rackroom Dashboard" ></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_server_status" data-view="ServerStatus" data-title="Server Status" data-moreinfo="More Info: Custom " ></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_cronjob_status" data-view="List" data-title="Cronjobs" data-moreinfo="More Info: Hybris_dashboard_cronjobstatus"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_iframe_cpu" data-view="Iframe" data-title="CPU Usage" data-moreinfo="New Relic"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_iframe_db" data-view="Iframe" data-title="DB Response Time" data-moreinfo="New Relic"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_iframe_memory" data-view="Iframe" data-title="Memory Usage" data-moreinfo="New Relic"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_iframe_error" data-view="Iframe" data-title="Error Rate" data-moreinfo="New Relic"></div>
    </li>  
     <li data-row="2" data-col="6" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_ordercount" data-view="Rickshawgraph" data-renderer="bar" data-legend="true" data-unstack="true" showxaxis="true" data-title="Order Count" ></div>
    </li> 
    <li data-row="2" data-col="7" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_ordercount2" data-view="Rickshawgraph" data-renderer="bar" data-legend="true" data-unstack="true" showxaxis="true" data-title="Order Count"></div>
    </li>
  </ul>
</div>