</script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="12" data-sizey="1">
      <div data-id="clock" data-view="DashboardHeader" data-title="Rackroom Dashboard" ></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_server_status" data-view="ServerStatus" data-title="Server Status"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_cronjob_status" data-view="List" data-title="Cronjobs" ></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_iframe_cpu" data-view="Iframe" data-title="CPU Usage"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_iframe_db" data-view="Iframe" data-title="DB Response Time"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_iframe_memory" data-view="Iframe" data-title="Memory Usage"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_iframe_error" data-view="Iframe" data-title="Error Rate"></div>
    </li>  
  
  </ul>
</div>