<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="12" data-sizey="1">
      <div data-id="clock" data-view="DashboardHeader" data-title="Rackroom Dashboard" ></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="rackroom_server_status" data-view="ServerStatus" data-title="Server Status"></div>
    </li>
  </ul>
</div>