</script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="12" data-sizey="1">
      <div data-id="clock" data-view="DashboardHeader" data-title="Rackroom Dashboard" ></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_server_status" data-view="ServerStatus" data-title="Server Status" data-moreinfo="More Info: Custom " ></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_cronjob_status" data-view="List" data-title="Cronjobs" data-moreinfo="More Info: Hybris_dashboard_cronjobstatus"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_iframe_cpu" data-view="Iframe" data-title="CPU Usage" data-moreinfo="New Relic"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_iframe_db" data-view="Iframe" data-title="DB Response Time" data-moreinfo="New Relic"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_iframe_memory" data-view="Iframe" data-title="Memory Usage" data-moreinfo="New Relic"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_iframe_error" data-view="Iframe" data-title="Error Rate" data-moreinfo="New Relic"></div>
    </li> 
    <li data-row="2" data-col="6" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_jira_latest" data-view="List" data-title="Latest JIRA Issues" data-moreinfo="More info: JIRA"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_jira_unreleased" data-view="List" data-title="Unreleased JIRA Issues" data-moreinfo="More info: JIRA"></div>
    </li> 
     <li data-row="2" data-col="8" data-sizex="3" data-sizey="2">
      <div data-id="rackroom_visitor_count" data-view="Number" data-title="Active Visitors"  data-moreinfo="More info: Google Analytics"></div>
    </li>   
     <li data-row="2" data-col="9" data-sizex="3" data-sizey="2">
      <div data-id="rackroom_checkout_conversion" data-view="Number" data-title="Checkout Conversion Rate"  data-suffix="%" data-min="0" data-max="100" data-moreinfo="More info: Google Analytics"></div>
    </li>      
    <li data-row="2" data-col="10" data-sizex="6" data-sizey="2">
      <div data-id="rackroom_ordercount2" data-view="Rickshawgraph" data-renderer="bar" data-legend="false" data-unstack="false" data-colors="steelblue" showxaxis="true" data-title="Order Count" ></div>
    </li> 
  </ul>
</div>