<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>


    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="Hello" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="widget3" data-view="List" data-title="Cronjobs" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="carts" data-view="Number" data-title="Number of carts" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="server_status" data-view="ServerStatus" data-title="Server Status"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="widget2" data-view="Rickshawgraph" data-renderer="bar" data-legend="true" data-unstack="true" data-title="Fullfilment pipeline"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="320534_cpu" data-view="Meter" data-title="CPU usage Hybris PROD" data-min="0" data-max="100" data-moreinfo="%" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="320534_response_time" data-view="Number" data-title="Hybris WS Response Time" data-moreinfo="ms"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="iframe1" data-view="Iframe" data-title="New Relic stat"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_likes" data-view="Number" data-title="Facebook likes"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="jira_issues" data-view="Classiclist" data-title="Latest JIRA Issues" data-unordered="true"></div>
    </li>

    <!--<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">-->
    <!--<div data-id="seattle-times" data-view="Rss" data-title="Seattle Times" data-interval="30"></div>-->
  <!--</li>-->

  </ul>
</div>