// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #FAFAFA;

$title-color:       #363636;
$moreinfo-color:    darken($title-color, 15%);
$label-color:       #005D8C;
// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-index {
  background-color: $background-color;

  .index {
  	background-color: $background-color;
  }
  
  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 65px;
  }
  
   ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  li {
    margin-bottom: 5px;
  }
}